.page {
	background-color: darkgrey;
}

.wrapper {
	display: flex;
	flex-direction: column;
	background-image: url(../images/bg.png);
	background-size: cover;
	min-width: 1100px;
	min-height: 1400px;
}

.top {
	display: flex;
	flex-direction: column;
	background-image: url(../images/head_clean.png);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 960px;
	min-height: 160px;
}

.logo-icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.logo-letters {
	padding-right: 600px;
}

.logo {
	padding-top: 30px;
}

.icons {
	padding-top: 30px;
	padding-right: 25px;
}

.top-letters {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	padding-top: 15px;
	padding-right: 30px;
}

.date {
	padding-left: 5px;
	font-size: small;
}

.slogan {
	flex-grow: 2;
	padding-left: 215px;
	font-weight: bold;
	color: white;
}

.issue {
	color: #b81727;
	font-size: 12px;
	font-weight: bold;
}

.date {
	color: #b81727;
}

.content {
	display: flex;
	margin-top: 30px;
}

.none-decor {
	text-decoration: none;
}

.left-sidebar {
	display: flex;
	flex-direction: column;
	text-align: end;
	margin: 0 40px 10px 35px;
	font: Arial, sans-serif;
	font-size: small;
	min-width: 80px;
	max-width: 180px;
}

.left-frame {
	padding: 0 25px 0 0;
	border: 1.25px solid #bec3ca;
	border-radius: 5px;
	margin-bottom: 20px;
	font: Arial, sans-serif;
	font-size: smaller; 
}

.main-list {
	padding: 20px 20px;
	line-height: 2;
	background: linear-gradient(to right, #ce0610 35%,#bb0610 25%);
	border-radius:  5px 0 0 5px;
}

.main-menu-link {
	color: white;
}

.websites-menu {
	line-height: 2;
}

.websites-heading {
	color: #b81727;
}

.websites-list {
	padding: 20px 5px;
}

.websites-menu-link {
	color: #003476;
}

.contact-information-list {
	padding: 20px 0 0 0;
}

.contact-menu-item {
	padding-bottom: 15px;
}

.contact-heading {
	padding-bottom: 3px;
	color: #b81727;
}

.contact-text {
	color: black;
}

.main-content {
	margin: 0 30px 20px 50px;
	max-width: 420px;
}

.center-frame {
	background-color: #bec3ca;
	border: 1px solid #bec3ca;
	border-radius: 5px;
}

.center-frame:after {
	content: "";
    display: table;
    clear: both;
 }

.center-frame-heading {
	color: #b81727; 
	font-size: medium;
	font-weight: bold;
	padding: 7px; 
}

.center-frame-text {
	line-height: 1.5;
	font-size: smaller;
	padding: 7px 10px 7px;
}

.photo-building {
	padding: 10px;
	float: left;
}

.preview {
	margin-top: 20px;
}

.preview-heading {
	color: #b81727;
	font-size: medium;
	font-weight: bold;
	padding: 10px 0;
}

.preview-paragraph {
	font-size: smaller;
	line-height: 1.5;
}

.right-sidebar {
	max-width: 210px;
}

.right-frame {
	background-color: #eaeef1;
	border: 1.25px solid #bec3ca;
	border-radius: 5px;
	margin-bottom: 20px;
}

.right-frame-banner {
	margin: 17px;
}

.banner-link {
	color: #b81727; 
}

.banner-heading {
	margin: 10px 0 10px 0;
	font-size: smaller;
}

.right-photo-top {
	margin-bottom: 15px;
	border-bottom: 1.5px solid #bec3ca; 
}

.face-photo {
	margin: 17px;
}

.photo-text {
	margin: 0 17px 17px 17px;
	font-size: smaller;
	line-height: 1.25;
}

.bottom {
	display: flex;
	margin-top: 20px;
}

.copyright {
	margin-left: 20px; 
	font-size: 12px;
}

.bottom-menu {
	margin-left: 90px;
}

.bottom-nav-menu {
	display: flex;
}

.bottom-menu-item:not(:last-child):after{
	content: "|";
	color: #003476;
}

.bottom-menu-link {
	padding: 0 3px;
	color: #003476;
	font-size: 12px;
}




